$main_color:#F6F6F6;
$white_color:#fff;
$secondry_color:#E34AAB;
$navbar_color:#1f001d;
$bg_footer_color:#31262D;
$text_color:#E5E4E4;
$submit_btn_footer_color:#C988B0;
$header_bg_color:#F5EBF2;
$header_shadow_color:#D0A1C6;
$header_color:#241919;
$header_btn_color:rgba(148, 34, 143, 0.76);
$mission_bg_color:#FFACE1;
$core_text_color:#727272;
$core_heading_color:rgba(0, 0, 0, 0.76)