@font-face {
    font-family: 'Open Sans';
    src: url('../Assets/Fonts/OpenSans-VariableFont_wdth\,wght.ttf')
}
@font-face {
    font-family: 'Lato', sans-serif;;
    src: url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
}
